#About {
  margin-top: 25vw;
  margin-bottom: 10em;
}

#Contact {
  margin-top: 15%;
  margin-bottom: 12vw;
}

.widgets h2 {
  font-weight: bold;
  font-size: 1.6vw;
  color: #c4c4c4;
}

#about-me-container {
  display: flex;
  justify-content: space-around;
  margin: 0 10vw 0 10vw
}

.widgets p {
  max-width: 30vw;
  font-size: 1.03vw;
  font-weight: 700;
  color: rgb(110, 110, 110);
}

.widgets strong {
  font-weight: 900;
  color: rgba(160, 148, 131, 0.685);
}

#skills {
  display: flex;
  max-width: 30vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill {
  margin-right: .6vw;
  background-color: #2c2c2c;
  padding: .7vw;
  border-radius: .5vw;
  font-size:  1vw;
  white-space: nowrap;
  margin-bottom: .6vw;
  color: rgb(206, 206, 206);
}

#contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#resume-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  font-size: 2.5vw;
  background-color: #0072cf27;
  border-radius: 1vw;
  border: 4px solid #0073cf;
  padding: 5px;
  transition: background-color .5s ease;
  margin-top: 3vw;
  text-decoration: none;
}


#resume-button:hover {
  background-color: #0073cf;
}

.widgets h3 {
  font-size: 1.5vw;
  display: inline;
}

.widgets a {
  font-size: 1.5vw;
  margin-right: 1vw;
  margin-left: 1vw;
  display: inline;
}

.widgets img {
  width: 2vw;
  display: inline;
  transform: translateY(20%);
}

#message-form {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  border: 2px solid #ffffff;
  background-color: #0072cf28;
  padding: 2%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  border-radius: 1em;
  margin-bottom: 8%;
}

#message-form input, #message-form textarea {
  padding: 1.4%;
  color: rgb(199, 193, 138);
  background-color: transparent;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 2px solid #ffffff;
  font-weight:  900;
  font-size: .9vw;
  margin-bottom: 2em;
}

#message-form textarea {
  resize: none;
  height: 10vw;
}

#message-form label {
  margin-bottom: 1em;
  font-size: 1vw;
}

#message-form button {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  background-color: #002fff;
  border-radius: .3em;
  padding: 1.5%;
  width: 20%;
  margin-left: 80%;
  font-size: 1vw;
  transition: transform .3s ease-in;
  font-weight: bold;
  letter-spacing: .1vw;
  border: none;
}

#message-form button:hover {
  transform: translateY(-8px);
}

#contact-me {
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 2% 0 3% 0;
}

@media screen and (min-height: calc(100vw / .7)) { /* Mobile view*/
  #About {
    margin-top: 40vw;
  }
  #about-me-container {
    flex-direction: column;
    width: 95vw;
    transform: translateX(-7vw);
  }
  #skills {
    max-width: 100vw;
  }
  .widgets p {
    font-size: 3.5vw;
    max-width: 100vw;
  }
  .skill {
    font-size: 3.5vw;
    border-radius: 1vw;
    padding: 2vw;
  }
  .widgets h2 {
    font-size: 5vw;
    margin-top: 10vw;
  }
  .widgets h3 {
    font-size: 3vw;
  }
  .widgets a {
    font-size: 3vw;
  }
  #resume-button {
    font-size: 5vw;
  }
  #message-form textarea {
    height: 30vw;
  }
  #message-form input, #message-form textarea {
    font-size: 3vw;
  }
  #message-form {
    max-width: 90vw;
  }
  #message-form button {
    font-size: 2vw;
  }
  #message-form label {
    font-size: 3vw;
  }
  .widgets img {
    width: 5vw;
  }
}