#home {
  position: relative;
}

#mainContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  margin-bottom: 7vw;
}

#mainHeaders {
  margin-left: 50px;
  text-align: center;
}

#home h1 {
  margin: 0;
  font-weight: 600;
  font-size: 4vw;
  white-space: nowrap;
  margin-bottom: 20px;
}

#home h2 {
  font-weight: 300;
  font-size: 2vw;
  opacity: .8;
  margin: 0;
}

#home h3 {
  text-align: center;
  font-weight: 100;
  font-size: 1.5vw;
  opacity: .7;
}

@media screen and (min-height: calc(100vw / .7)) { /* Mobile view */
  #mainContainer {
    flex-direction: column;
    padding-top: 20%;
  }
  #mainHeaders {
    margin-left: 0;
    margin-top: 10px;
  }
  #home h1 {
    font-size: 8vw;
    margin-bottom: 0;
  }
  #home h2 {
    font-size: 7vw;
  }
  #home h3 {
    font-size: 3.5vw;
  }
}

#arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 6vw);
  width: 8vw;
  opacity: .3;
  transition: background-color .5s ease-in;
  border-radius: 50%;
}

#arrow:hover {
  background-color: #0073cf;
}