#widget {
  margin-top: 25vw;
}

#widget h1 {
  font-size: 5vw;
  font-weight: bolder;
  text-align: center;
}

#widget h3 {
  font-size: 2vw;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  opacity: .6;
  margin-top: 7%;
}

#underline {
  position: absolute;
  width: 5%;
  height: 1vw;
  background-color: #0073cf;
  left: 50%;
  transform: translate(-50%, -20%);
  border-radius: 10px;
}

#laptop {
  transform: translateX(-8vw);
}

#phone {
  width: fit-content;
  transform: translateX(10vw);
}

.project {
  display: flex;
  justify-content: space-between;
}

#widget h2 {
  font-weight: bold;
  font-size: 2.5vw;
}

#widget p {
  max-width: 50vw;
  font-size: 2vw;
  font-weight: 300;
  color: rgb(192, 192, 192);
}

#phone-description {
  margin-top: 10vw;
}

#laptop-description {
  transform: translate(-13vw, -1vw);
}

#widget h4 {
  font-weight: 500;
  font-size: 1.8vw;
  opacity: .9;
}

.contributions {
  background-color: #0073cf;
  font-size: .8vw;
  opacity: .8;
  padding: .8vw;
  white-space: nowrap;
  margin-right: 1vw;
  margin-bottom: 1vw;
  border-radius: 20px;
}

#contribution-list {
  display: flex;
  max-width: 50vw;
  min-width: 40vw;
  flex-wrap: wrap;
}
