#profile-icon {
  position: relative;
  border-radius: 20%;
  width: 10vw;
  height: 12vw;
  min-width: 100px;
  min-height: 120px;
  background-image: url("../../dist/images/lake.jpg");
  background-size: 400%;
  background-position: top;
  transition: background-position-y 0.3s ease-out;
}

#profile-icon img {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  z-index: 2;
}

#top-bar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  z-index: 10;
  cursor: pointer;
  background-color: rgba(5, 5, 5, 0.356);
  padding: 10px 0 10px 0;
  border-radius: 10px;
}

.top-buttons {
  font-weight: 100;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5vw;
  opacity: .7;
  transition: opacity .4s ease;
}

.top-buttons:hover {
  opacity: 1;
  font-weight: 300;
}

#phone-animator {
  left: 20%;
  width: 28vw;
}

#laptop-animator {
  left: 20%;
  width: 68vw;
}

#phoneImg {
  position: absolute;
  transform: translate(-106.6%, 2.7%);
  animation: fadeIn .5s;
  width: 28.2vw;
}

#laptopImg {
  position: absolute;
  transform: translate(-154.1%, 35%);
  width: 33vw;
  animation: fadeIn .5s;
  border-radius: .3vw;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@media screen and (min-height: calc(100vw / .7)) {
  .top-buttons {
    font-size: 3vw;
  }
  #phone-animator, #phoneImg {
    width: 55vw;
  }
  #laptop-animator {
    width: 120vw;
    transform: translateX(-10vw);
  }
  #laptopImg {
    width: 58.2vw;
    transform: translate(-51.1%, -174%);
    border-radius: 1vw;
  }
}
